<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.litvin" level="${APP_LOG_LEVEL}" />
    <logger name="uk.co.caprica.vlcj" level="WARN" />
    <logger name="com.formdev.flatlaf" level="WARN" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
